body {
    font: 1rem 'Roboto', monospace;
}

svg {
    fill: var(--bs-body-color);
}

.btn-danger svg, .btn-primary svg {
    fill: var(--bs-btn-color);
}

th svg, .btn svg, .icon {
    width: 1rem;
    height: 1rem;
}
