body {
    min-width: 500px;
}

.stream-title {
    font-size: 0.75rem;
    font-weight: 500;
}

.stream-link {
    font-size: 1rem;
    font-weight: 500;
}

table.dataTable tbody td {
    vertical-align: middle;
  }